body{
  font-family: Arial;
  background:#f5f7fb;
}

.container{
  width:400px;
  margin:40px auto;
  text-align:center;
}

.form{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

select, textarea{
  width:100%;
  padding:10px;
  margin-top:10px;
}

button{
  margin-top:10px;
  padding:10px;
  background:#4c6ef5;
  color:white;
  border:none;
  width:100%;
}

.card{
  background:white;
  padding:15px;
  margin-top:15px;
  border-radius:8px;
  text-align:left;
}